* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;

}

body {
    background-color: #2A2433;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #D46A83;
    color: #2A2433;

    ul {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
            color: black;
        }

        li {
            list-style: none;
        }
    }
}

section {
    color: #D46A83;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        border: 3px solid white;
        border-radius: 15px;
        padding: 3rem 3rem;
        li {

            a {
                color: white;
                text-decoration: none;
                display: flex;
                gap: 20px;
            }

            img {
                width: 50px;
            }
        }
    }
}